.manager-container {
}
.manager-header {
  display: flex;
  margin-bottom: 16px;
}
.manager-header-input {
  width: 300px;
  margin-right: 16px;
  margin-left: 8px;
}
.manager-content {
  display: flex;
  flex-flow:row wrap;
  max-height: 600px;
  overflow-y: auto;
}
.manager-image-item-container {
  width: 300px;
  margin: 0 8px 16px;
}
